* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
 margin: 0;
 border-top-width: 2rem;
 border-top-style: solid;
 border-top-color:  #fff159;;
 height: 160vh;
}

header {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    position : absolute;
    top: -2rem;
    left: .5rem;
    font-size: large;
}

.imagens {
    position: absolute;
    top: .5rem;
    left: 1rem;
    width: 10rem;
    height: 8rem;
    
    
}

#menu {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    font-size: 1.5rem;
    border: none;
    background:none;
}

 ul {
    margin: 0;
    padding: 0;
}

li {
    margin-top: .5rem;
    list-style: none;
}

.backdrop {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100vw;
    height: 160vh;
}

.menu-mobile {
    position: absolute;
    top: 0rem;
    right: -100vw;
    z-index: 4;
    width: 80vw;
    height: 157vh;
    background-color: #494343;
    transition: right .2s linear;   
}

.menu-mobile.open {
    right: 0;
}

.menu-mobile li {
    width: fit-content;
    margin-top: 1.5rem;
    margin-left: .9rem;
    color: #eee2e2;
}

#contatos {
   display: flex;
   flex-direction: column;
   font-size: smaller;
}

#contatos span {
    margin-left: .5rem;
    font-style: normal;
}

.icones-contatos {
    margin-top: .5rem;
}

main {
    position: absolute;
    z-index: 2;
    top: 30vh;
    width: 60%;
    right: 20%;
    left: 20%;
}

#botao-de-fechar-calculos {
    position: absolute;
    top: -4rem;
    right: 0;
    border: none;
    font-size: x-large;
    font-weight: bold;
    background: none;
    color:#ea1d2c;
}

#botao-recalcular {
    width: 70%;
    margin-top: 2rem;
    margin-right:15%;
    margin-left:15%;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius:  3rem;
    border-color: transparent ;
    color: #ffff;
    background: #c0202b ;
}

#botao-de-fechar-calculos span {
    color: #fff;
    font-size: small;
}

#calculos {
    display:flex;
    flex-direction: column;
}

form label h2 {
   margin-top: -20px;
   margin-bottom: 35px;
}

 [type = "text"] {
    margin-bottom: .5rem;
    border-bottom-width: 0.10rem;                                                                                                                                                                                                                                                                                                  
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color:#000;
    border-left-color: transparent;
}

#botao-calc-da-taxa {
    width: 70%;
    margin-top: 1rem;
    margin-right:15%;
    margin-left:15%;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius:  3rem;
    border-color: transparent ;
    color: #ffff;
    background: #0275d8 ; 
}

.container-dos-custos {
   width: 100%;
   height: 40vh;
   margin:auto;
}

h2 {
    font-size: 1rem;
 }

 table caption {
   font-size: 1.5rem;
   color: #ea1d2c;
   margin-left: -20px;
 }

 table #cabecalho-da-tabela {
    border-bottom: 2px solid black ;
    height: 3.5rem;
}

 table #linha-de-cabecalho {
    margin-left: -3rem;
 }

 table #cabecalho-de-custos {
    padding-left: 5rem;
 }

 table .celula-de-itens {
    color: #F58529;
 }

 table #celula-de-lucro {
    text-align:center;
    font-size: 1.5rem;
    font-weight: bold;
    color : green;
}

 table .cifrao {
    width: min-content;
    padding-left: 5rem;
 }

#rodape-dos-custos {
    height:10rem;
 }

 table #linha-do-total {
    border-spacing: 5rem;
 }

 table #celula-do-total {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color:#ea1d2c;
 }

 table #celula-do-total-de-custos {
    text-align: center;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
 }

 table .cifrao-de-lucro {
    width: min-content;
    padding-left: 5rem;
 }

 table #celula-do-total-do-lucro {
    text-align: center;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

 table #total-dos-custos {
    padding-left: 2rem ;
 }

 table #valor-do-frete {
    padding-left: 2rem;
 }

 var {
    margin-left: -1.5rem;
}

#sessao-de-comentarios {
    margin-top: 10rem;
}

#comentarios {
  border: none;
  outline: none;
}

 footer {
    margin-top: 50rem;
    border-top-width: 2rem; 
    border-top-style: solid;  
    border-top-color:  #fff159;
    background-color:  rgb(95, 34, 151);
}

#lista-de-rede-sociais {
    width: 50vw;
    margin-top: 3.5rem;
    margin-left:25vw;
    display: inline-flex;
    justify-content: space-around;
}

#lista-de-rede-sociais .bi-instagram{
    color:#F58529;
  }

#lista-de-rede-sociais .bi-facebook{
    color:#17A9FD;
  }


#lista-de-rede-sociais .bi-youtube{
  color: #ea1d2c;
}

#Titulo-da-lista-de-utilidades {
  color: #c0202b;
  font-weight: lighter;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#lista-de-utilidades {
    width: 30vw;
    margin-top: 3.5rem;
    margin-left: 3rem;
    border-bottom:  #c0202b .5px solid;
}

#lista-de-utilidades li,a {
    margin-bottom: .3rem;
    color: #eee2e2;
    text-decoration: none;
    font-size: smaller;
}

#lista-de-resposabilidades{
    width: 70vw;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
    margin-left: 15vw;
    display: inline-flex;
    justify-content: space-between;
}

#lista-de-resposabilidades a {
    color: #eee2e2;                               
    font-size: small;
    text-decoration: underline !important;
}

.hidden {
    display: none;
}

@media (min-width: 992px){
    h1 {
        top: .2rem;
        left: 5rem;
        font-size: x-large;
    }

    .imagens {
        position: absolute;
        top: .7rem;
        left: 2rem;
        width: 15rem;
        height: 15rem;
    }

    #menu {
        display: none;
    }

    .menu-mobile {
        display: inline-flex;
        justify-content: space-around;
        top: -3rem;
        right: 0;
        background-color: transparent;
    }

    summary {
        font-size: 1rem;
    }

   span {
        font-size: 1rem;
    }

    .menu-mobile li,a {
        color:#000;
    }


    #sessao-calculos {
        max-width: 500px;
        margin:auto;
        margin-top: 1.5rem;
    }

    form label h2 {
    margin: 0;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
    }

    #calculos input {
        border: solid 1.5px #000;
        border-radius: 20px;
        margin-bottom: 1.5rem;
        line-height: 2rem;
        text-align: center;
    }

    .container-dos-custos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-width:600px !important;
        height: 50%;
        margin: auto;
        margin-top: 15px;
    }

    .container-dos-custos table {
        width: 100%;
    }

    table #cabecalho-de-itens {
        width: 100px;
        padding-left: 160px;
        text-align: left;
    }

    table #cabecalho-de-custos {
        padding-left: 160px;
    }

    table .celula-de-itens {
        padding-left:160px ;
    }

    table .cifrao {
        width: 10px;
        padding-left: 160px;
    }

    table tfoot td {
       padding-left: 160px;
    }

     #botao-recalcular {
        width:50%;
        margin-left: 160px;
    }

    footer {
        margin-top: 70rem;
    }

    .bi {
        font-size: 1.5rem;
    }

    .hidden {
        display:none !important ; 
    }
}
